<div class="e-box dark top-corner" style="padding: 0.5rem !important">
    <span class="e-tag shadow-6 success" style="margin-right: 0.5rem"><<<</span>
</div>
<div class="e-box dark top-corner" style="padding: 0.5rem !important">
    <span class="e-tag shadow-6 success" style="margin-right: 0.5rem">{{ correctAnswerCount }}</span>
    <span class="e-tag shadow-6 danger">{{ wrongAnswerCount }}</span>
</div>
<section>
  <div class="e-container eUp">
    <ng-container *ngIf="question">
      <div class="e-alert dark text-left shadow-2 border">
        <h1 class="e-title size-6" [innerHTML]="question.question"></h1>
      </div>
      <div class="countdown-bar" style="width: timer; background: red">

      </div>
      <div class="e-alert mt-3 text-left answer-container" [class.warning]="chosenAnswer == a"
        [class.white]="chosenAnswer != a" *ngFor="let a of question.all_answers; let ai = index"
        (click)="selectAnswer(a)">
        <div class="clean">
          <div class="alpha">
            <span class="e-tag shadow-6 primary">{{ alphabets[ai] }}</span>
          </div>
          <div class="answer" [innerHTML]="a"></div>
        </div>
      </div>
      <div class="clean mt-3 centered">
        <input type="button" class="e-btn danger" (click)="validateAnswer()" [disabled]="chosenAnswer == null"
          value="Check & Next" />
      </div>
    </ng-container>
  </div>
</section>
